$base-color: #181821;
//$base-color: #181821;
$front-color: #fffcf2;
$accent-color: #ea526f;
$dark-blue: #4392F1;

$main-font: 'Roboto', sans-serif;

.container {
	padding: 2em;
	margin: 1em;
	border: 1px solid $accent-color;
}
